/* ECUT Style by https://mohamad-sh.ir */
/* MARK: ADVANTAGES */
.advantages-list {
    background: #fafaf9;
}

.advantages-item {
    color: #000;
    font-size: 14px;
    font-weight: 300;
}

.week-offer-slider .swiper-pagination .swiper-pagination-bullet {
	background: var(--color-alt);
}