/* ECUT Login Style by https://mohamad-sh.ir */
#LoginCanvas {
    width: 518px;
    color: #777;
}

input:not(:focus),
input:not(:active) {
    border-color: #777;
}

#LoginCanvas .offcanvas-header {
    height: var(--header-height);
    min-height: var(--header-height);
    color: #fff;
    background: var(--color-main);
}

#LoginCanvas .offcanvas-title {
    font-size: 20px;
    font-weight: bold;
}

#LoginCanvas .offcanvas-body {
    padding: 25px;
}

#LoginCanvas .login-close-btn {
    display: inline-block;
    color: #777;
    font-size: 20px;
    position: absolute;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    top: calc(var(--header-height) + 20px);
    right: 20px;
}

#LoginCanvas .login-close-btn:hover {
    color: var(--color-alt);
    font-size: 20px;
}

.login-wrap {
    width: 430px;
    max-width: 100%;
    margin: 0 auto;
}

.login-title {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    border-bottom: 1px solid #cecece;
}

.login-phone-label {
    display: block;
}

.login-policy {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login-policy a {
    text-decoration: none;
}

.login-det-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 28px;
}

.login-det-text {
    text-align: center;
}

.login-det-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.login-det-item i {
    width: 26px;
    color: #000;
    font-size: 16px;
    text-align: center;
}

.login-det-item i.eico-star-empty {
    font-size: 20px;
}

.login-det-item span {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.login-otp-label {
    text-align: center;
}

.login-otp-phone {
    margin: 30px 0;
}

.login-otp-segment-inputs {
    width: 256px;
    margin: 0 auto;
}

.login-otp-segment-inputs input {
    text-align: center;
}

.login-change-phone-btn {
    color: var(--color-alt);
    text-decoration: none;
}

.login-otp-resend bdi {
    font-weight: 700;
}

.login-otp-resend-btn {
    color: var(--color-main);
    text-decoration: none;
}